# =====================
# Python / Django
# =====================
__pycache__/
*.py[cod]
*.sqlite3
.env
venv/
env/

# Django static/media
staticfiles/
media/

# =====================
# Node / React
# =====================
node_modules/
dist/

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/

# =====================
# Logs
# =====================
*.log
